.NavBar {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.NavBar-Logo {
    font-family: 'Gloock', serif;
}

.NavBar-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NavBar-container li {
    margin: 0px 10px;
}

.NavBar-container li a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -.02em;
    color: #000;
}

.NavBar-container li a:hover {
    text-decoration: underline;
}